* {
  margin: 0;
  padding: 0;
}
.calling{
  height: 0;
  padding-top: 15.16%;
  position: relative;
}
.imgbackgrund{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}