* {
  margin: 0;
  padding: 0;
}
.box {
  position: relative;
}
a{
    text-decoration: none;
}
.answer a {
  display: inline-block;
  padding: 25px 18px;
  position: absolute;
  left: 601px;
  top: 685px;
}
.reject a {
  display: inline-block;
  padding: 25px 18px;
  position: absolute;
  left: 808px;
  top: 685px;
}
.answer a{
    color:rgba(255, 255, 255, 0.0)
   }
   .reject a{
    color:rgba(255, 255, 255, 0.0)
   }

/* 大屏幕 ：大于等于1200px*/
@media (min-width: 1200px) {
  .box .call {
    display: flex;
    justify-content: center;
    height: 790px;
  }
}

/* 平板电脑和小屏电脑之间的分辨率 */
@media (min-width: 768px) and (max-width: 979px) {
  .box .call {
    display: flex;
    justify-content: center;
    height: 972px;
  }
}

/* 横向放置的手机和竖向放置的平板之间的分辨率 */
@media (max-width: 767px) {
  .box .call {
    display: flex;
    justify-content: center;
    height: 1075px;
  }
}

/* 横向放置的手机及分辨率更小的设备 */
@media (max-width: 480px) {
  .box .call {
    display: flex;
    justify-content: center;
    height: 712px;
  }
}
